body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/imgg1.jpeg') no-repeat center center/cover;
    color: white;
}
.fade-in {
    opacity: 1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; 
    height: 100vh; 
    text-align: center;
}

.box, .weather-box {
    width: 400px;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}
input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-bottom: 25px;
    outline: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.weather-box img {
    width: 100px;
    height: 100px;
    margin: 10px 0;
}

button {
    background: #ecedf0;
    color: black;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

button:hover {
    background: #60bbf0;
}
